sentence_similarity/sentences.pkl
sentence_similarity/embeddings.pkl
sentence_similarity/tree.pkl
sentence_similarity/nn_cosine.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_all-MiniLM-L6-v2_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_all-MiniLM-L12-v2_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_all-mpnet-base-v2_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_all-roberta-large-v1_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_bge-base-en-v1.5_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_bpr-gpl-climate-fever-base-msmarco-distilbert-tas-b_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_climate-fever-msmarco-distilbert-gpl_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_distilroberta-base-climate-f_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_e5-large-v2_EMBEDDINGS.pkl
sentence_similarity/model_evaluation/model_embeddings/MODEL_gte-large_EMBEDDINGS.pkl
